<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
 "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="cn.tedu.store.mapper.AddressMapper">
	<!-- 向数据库中插入用户地址数据 -->
	<!--Integer addnew(Address address); -->
	<insert id="addnew" parameterType="cn.tedu.store.entity.Address"
		useGeneratedKeys="true" keyProperty="id">
		insert into
		t_address(id,uid,name,province,city,area,district,zip,address,phone,tel,tag,is_default,create_user,create_time,modified_user,modified_time)
		values(#{id},#{uid},#{name},#{province}
		,#{city},#{area},#{district},#{zip},#{address},#{phone},#{tel},#{tag},#{isDefault},#{createdUser},#{createdTime},#{modifiedUser},#{modifiedTime})
	</insert>
	<!-- 通过用户id查询所有的用户地址数据的数量 -->
	<!--Integer getCountByUid(Integer uid); -->
	<select id="getCountByUid" resultType="java.lang.Integer">
		select count(id) from
		t_address where uid=#{uid}
	</select>

	<!-- * 通过uid查找收货地址信息 -->
	<!-- List<Address> findByUid(Integer uid); -->
	<select id="findByUid" resultType="cn.tedu.store.entity.Address">
		select id,name,district,address,phone,tag,is_default isDefault from
		t_address where uid=#{uid} order by is_default desc,modified_time desc

	</select>
	
	<!-- 通过用户id修改其所有收货地址的is_default值 -->
	<!--Integer updataNonDefault(Integer uid);  -->
	<update id="updateNonDefault">
	update t_address set is_default=0,modified_user=#{modifiedUser},modified_time=#{modifiedTime} where uid=#{uid}
	</update>
	
	<!-- 通过用户上传id修改其地址默认值 -->
	<!-- 	Integer updateDefault(Integer id); -->
	<update id="updateDefault">
	update t_address set is_default=1,modified_user=#{modifiedUser},modified_time=#{modifiedTime} where id=#{id}
	</update>
	
	<!-- 通过id查找收货地址信息 -->
	<!-- Address findById(Integer id); -->
	<select id="findById" resultType="cn.tedu.store.entity.Address">
	select uid,is_default isDefault,name,district,phone,address from t_address where id=#{id}
	</select>
	
	<!-- 通过用户id查找最近修改过的收货地址 -->
	<!-- Address findByLastModified(Integer uid); -->
	<select id="findByLastModified" resultType="cn.tedu.store.entity.Address">
	select id from t_address where uid=#{uid} order by modified_time desc limit 0,1
	</select>
	
	
	<!--通过地址id删除收货地址  -->
	<!-- Integer deleteById(Integer id); -->
	
	<delete id="deleteById">
	delete from t_address where id=#{id}
	
	</delete>
	
</mapper>