<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
 "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="cn.tedu.store.mapper.OrderMapper">

	<!--向订单表中插入订单数据 -->
	<!-- Integer insert(Order order); -->
	<insert id="insert" parameterType="cn.tedu.store.entity.Order"
		useGeneratedKeys="true" keyProperty="id">
		insert into
		t_order(uid,order_time,status,pay,recv_name,recv_district,recv_address,recv_phone,created_user,created_time,modified_user,modified_time)
		values(#{uid},#{orderTime},
		#{status},#{pay},#{recvName},#{recvDistrict},#{recvAddress},#{recvPhone},#{createdUser},#{createdTime},#{modifiedUser},#{modifiedTime}
		)


	</insert>
	<!--向订单详情表中插入订单详情 -->
	<!-- Integer insertItem(OrderItem orderItem); -->

	<insert id="insertItem" parameterType="cn.tedu.store.entity.OrderItem"
		useGeneratedKeys="true" keyProperty="id">
		insert into
		t_order_item(oid,goods_id,goods_image,goods_title,goods_count,goods_price,created_user,created_time,modified_user,modified_time)
		values(#{oid},#{goodsId},
		#{goodsImage},#{goodsTitle},#{goodsCount},#{goodsPrice},#{createdUser},#{createdTime},#{modifiedUser},#{modifiedTime}
		)
	</insert>


	<resultMap id="orderVO" type="cn.tedu.store.vo.OrderVO">
		<id column="id" property="id" />
		<result column="uid" property="uid" />
		<result column="recv_name" property="recvName" />
		<result column="recv_phone" property="recvPhone" />
		<result column="recv_district" property="recvDistrict" />
		<result column="recv_address" property="recvAddress" />
		<result column="order_time" property="orderTime" />
		<result column="status" property="status" />
		<collection property="list" ofType="cn.tedu.store.entity.OrderItem">
		
			<result column="goods_id" property="goodsId" />
			<result column="goods_image" property="goodsImage" />
			<result column="goods_title" property="goodsTitle" />
			<result column="goods_count" property="goodsCount" />
			<result column="goods_price" property="goodsPrice" />
		</collection>

	</resultMap>
	<!-- * 通过订单id查找详细订单属性 -->
	<!-- OrderVO findById(Integer id); -->
	<select id="findById" resultMap="orderVO">
select t_order.id, uid,recv_name,recv_phone,recv_district,recv_address,pay,order_time,status,
goods_id,goods_image,goods_title,goods_count,goods_price from t_order inner join t_order_item on t_order.id=t_order_item.oid where t_order.id=#{id}
	</select>

</mapper>