<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
 "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="cn.tedu.store.mapper.UserMapper">
	<!--插入用户数据 -->
	<!-- Integer addnew(User user) -->
	<insert id="addnew" parameterType="cn.tedu.store.entity.User"
		useGeneratedKeys="true" keyProperty="id">
		insert into
		t_user(username,password,salt,gender,phone,email,avatar,is_delete,created_user,created_time,modified_user,modified_time)
		values(#{username},#{password},#{salt},#{gender},#{phone},#{email},#{avatar},#{isDelete},#{createdUser},#{createdTime},#{modifiedUser},#{modifiedTime})
	</insert>

	<!-- 根据用户名查询用户数据 -->
	<!-- User findByUsername(String username) -->
	<select id="findByUsername" resultType="cn.tedu.store.entity.User">
		select
		id,password,username,salt,is_delete isDelete,avatar from t_user where
		username=#{username}
	</select>

	<!-- 修改密码 -->
	<!-- Integer updataPassword(@Param("password") String password, @Param("modifiedUser") 
		String modifiedUser, @Param("modifiedTime") Date modifiedTime, @Param("id") 
		Integer id); -->
	<update id="updatePassword">
		update t_user set
		password=#{password},modified_user=#{modifiedUser},modified_time=#{modifiedTime}
		where id=#{id}
	</update>

	<!-- 通过id查找用户数据 -->
	<!--User findById(Integer id); -->
	<select id="findById" resultType="cn.tedu.store.entity.User">
		select
		username,gender,phone,email,password,salt,is_delete isDelete from
		t_user where id=#{id}
	</select>

	<!--修改用户资料，不含密码和头像 -->
	<!-- Integer updateInfo(User user); -->
	<update id="updateInfo">
		update t_user set
		<if test="gender!=null">
			gender=#{gender},
		</if>
		<if test="phone!=null">
			phone=#{phone},
		</if>
		<if test="email!=null">
			email=#{email},
		</if>
		modified_user=#{modifiedUser},modified_time=#{modifiedTime}
		where
		id=#{id}
	</update>

	<!-- 修改用户头像 -->
	<!-- Integer updataAvatar(@Param("id") Integer id, @Param("avatar") String 
		avatar, @Param("modifiedUser") String modifiedUser, @Param("modifiedTime") 
		Date modifiedTime); } -->
	<update id="updataAvatar">
		update t_user set
		avatar=#{avatar},modified_user=#{modifiedUser},modified_time=#{modifiedTime}
		where id=#{id}
	</update>

</mapper>